doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/leaflet-awesome-markers/leaflet.awesome-markers.css')
    link(rel="stylesheet", href="/leaflet/leaflet.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')
    script(src="/leaflet/leaflet.js")
    script(src="/leaflet-awesome-markers/leaflet.awesome-markers.js")
  body
    block content
